
.header{
    border-bottom: 1px solid #ECECEC;
    
    padding-top: 32px;
    padding-bottom: 22px;

    & .container {
        display: flex;
        align-items: center;
    }
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__link-text {
position: relative;
}

.studio::after,
.portfolio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -31px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $akcent-color;
}

.nav__link {
    display: block;
    color: $title-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $akcent-color;
    }
}

.nav__link-text:not(:last-child) {
    margin-right: 50px;
}

.contact-header {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    margin-left: auto;
    height: 16px
}

.contact-header__link {
    color: $main-text-color;
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: $akcent-color;
        fill: $akcent-color;
    }
}

.contact-header__link:not(:last-child) {
    margin-right: 50px;
}

.contact-header__logo {
    width: 16px;
    fill: $main-text-color;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .contact-header__link:hover &,
    .contact-header__link:focus & {
        color: $akcent-color;
        fill: $akcent-color;
    }
}

