
.header {
    width: 100%;
   position: relative;

   border-bottom: 1px solid #ECECEC;


& .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ECECEC;
  @media screen and (min-width: 768px) {
    border-bottom: none;
        }
    }
}

.header-menu {
    display: none;
    &.is-open {
        display: flex;
           align-items: center;
           flex-direction: column;
           text-align: center;
          
            padding-top: 60px;
            padding-bottom: 60px;
            
            scroll-padding-right: auto;
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 0;
            width: 100%;
             background-color: #ffffff;
       }              
       @media screen and (min-width: 768px) {
       display: flex;
       align-items: center;
       flex-direction: row;   
     }
   }

.nav {
    // display: flex;
    // align-items: center;
    
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
    padding-bottom: 0px;
    }
}

.nav__list {
display: flex;
flex-direction: column;
}

.nav__link-text {
// position: relative;
display: block;
&:not(:last-child) {
    margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
 display: inline-flex;
     &:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
    padding-left: 0;
}
}  
}

.studio::after,
.portfolio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -31px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $akcent-color;
}

.nav__link {
    position: relative;

    // display: block;
    color: $title-color;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $akcent-color;
    }

    @media screen and (min-width: 768px) {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    }
}

.nav__link-text:not(:last-child) {
    margin-right: 50px;
}

.contact-header {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    height: 16px;
    @media screen and (min-width: 768px) {
        margin-left: 84px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 305px;
    }
}

.contact-header__link {
    display: block;
    color: $main-text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: $akcent-color;
        fill: $akcent-color;
    }


    &:not(:last-child) {
        margin-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
}
     @media screen and (min-width: 1200px) {
         display: inline;
         &:not(:last-child) {
      margin-right: 30px;
     }
}
}

// .contact-header__link:not(:last-child) {
//     margin-right: 50px;
// }

.contact-header__logo {
    width: 16px;
    fill: $main-text-color;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .contact-header__link:hover &,
    .contact-header__link:focus & {
        color: $akcent-color;
        fill: $akcent-color;
    }
}

.menu-button {
    display: inline-flex;
    
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  
    &:hover, &:focus {
    border: none;
    fill: $akcent-color;
}    
    & .icon-cross {
        display: none;
    }
    @media screen and (min-width: 768px) {
      display: none;
 }
}

.menu-button.is-open {
    & .icon-cross {
        display: block;
    }
    & .icon-menu {
        display: none;
    }
}