
    $main-text-color: #757575;
    $logo-color: #000000;
    $secondary-title-color: #FFFFFF;
    $title-color: #212121;
    $akcent-color: #2196F3;
    $main-font: "Roboto", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    $main-background-color:#E5E5E5 ;
    $secondary-background-color: #2F303A;
    $backgraund-team-color: #F5F4FA;
    $footer-link-color: rgba(255, 255, 255, 0.6);
